---
title: Template
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: pages
  values:
    layout: page
- scope:
    path: ''
    type: posts
  values:
    layout: post
email: emailme@noureddine.biz
description: A starting point
baseurl: ''
url: ''
twitter_username: noureddinemade
github_username: noureddinemade
