@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Rakkas&family=Rubik+Mono+One&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe {
  vertical-align: bottom;
  max-width: 100%; }

input, textarea, select {
  font: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Integral';
  font-weight: 700;
  src: url("/assets/font/IntegralCF-Bold.woff"), url("/assets/font/IntegralCF-Bold.woff2"); }

section.intro {
  padding: 50px 50px; }
  @media screen and (max-width: 1024px) {
    section.intro {
      padding: 46px 46px; } }
  @media screen and (max-width: 800px) {
    section.intro {
      padding: 42px 42px; } }
  @media screen and (max-width: 640px) {
    section.intro {
      padding: 38px 38px; } }
  @media screen and (max-width: 480px) {
    section.intro {
      padding: 34px 34px; } }

@media screen and (max-width: 1600px) {
  .hideXL {
    display: none; } }

@media screen and (max-width: 1440px) {
  .hideLG {
    display: none; } }

@media screen and (max-width: 1024px) {
  .hideMD {
    display: none; } }

@media screen and (max-width: 800px) {
  .hideSM {
    display: none; } }

@media screen and (max-width: 640px) {
  .hideXS {
    display: none; } }

@media screen and (max-width: 480px) {
  .hideXXS {
    display: none; } }

html {
  background-color: black; }

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  font-size: 40px;
  background-color: black;
  color: white;
  overflow: hidden; }

main {
  display: block;
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center; }
  main .bg {
    position: absolute;
    z-index: 1;
    top: -50%;
    left: -60%;
    width: 200%;
    height: 200%;
    background-image: repeating-radial-gradient(circle at 50% 50%, black, black 5%, #050505, #050505 5% 10%);
    transform-origin: 50% 50%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-delay: ease-in-out;
    transition-timing-function: linear; }

header {
  display: none; }

nav {
  display: block; }

footer {
  display: none; }

section {
  position: relative;
  display: block;
  z-index: 3; }
  section.intro {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 22% auto 22%;
    grid-gap: 50px;
    height: 100vh;
    transition-property: transform;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-out; }
    section.intro * {
      margin: auto;
      transition-property: transform;
      transition-duration: 1s;
      transition-delay: 0s;
      transition-timing-function: ease-out; }
      section.intro *:nth-child(4) {
        -webkit-transform: rotate(-90deg) scaleX(-1);
        -ms-transform: rotate(-90deg) scaleX(-1);
        transform: rotate(-90deg) scaleX(-1); }
      section.intro *:nth-child(6) {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
      section.intro *:nth-child(8) {
        -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        transform: scaleY(-1); }
    section.intro div {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%; }
      section.intro div h1 {
        margin: auto;
        line-height: .5; }
        section.intro div h1:nth-child(2) {
          -webkit-transform: scaleY(-1);
          -ms-transform: scaleY(-1);
          transform: scaleY(-1); }
    section.intro svg {
      width: 80%;
      height: 100%; }
      section.intro svg path {
        margin: auto;
        fill: none;
        stroke: white;
        stroke-width: 4px; }

h1, h2, h3 {
  position: relative;
  line-height: 1; }

h2, h3 {
  font-family: "Rubik Mono One", sans-serif;
  font-weight: 700; }

h1 {
  z-index: 10;
  font-size: 26vmin;
  font-family: "Rakkas", cursive;
  font-weight: 400;
  transition-property: transform;
  transition-duration: 0.01s;
  transition-delay: 0s;
  transition-timing-function: linear; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 60px; }

@keyframes divRotate {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes divRotate {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes nightBlur {
  0% {
    webkit-filter: blur(20px);
    filter: blur(20px); }
  50% {
    webkit-filter: blur(50px);
    filter: blur(50px); }
  100% {
    webkit-filter: blur(20px);
    filter: blur(20px); } }

@-webkit-keyframes nightBlur {
  0% {
    webkit-filter: blur(20px);
    filter: blur(20px); }
  50% {
    webkit-filter: blur(50px);
    filter: blur(50px); }
  100% {
    webkit-filter: blur(20px);
    filter: blur(20px); } }

form {
  display: block; }
