html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe {
  vertical-align: bottom;
  max-width: 100%; }

input, textarea, select {
  font: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Integral';
  font-weight: 700;
  src: url("/assets/font/IntegralCF-Bold.woff"), url("/assets/font/IntegralCF-Bold.woff2"); }

main {
  width: 1600px;
  max-width: 1600px; }
  @media screen and (max-width: 1600px) {
    main {
      width: 100%; } }

main {
  margin-left: auto;
  margin-right: auto; }

@media screen and (max-width: 1600px) {
  .hideXL {
    display: none; } }

@media screen and (max-width: 1440px) {
  .hideLG {
    display: none; } }

@media screen and (max-width: 1024px) {
  .hideMD {
    display: none; } }

@media screen and (max-width: 800px) {
  .hideSM {
    display: none; } }

@media screen and (max-width: 640px) {
  .hideXS {
    display: none; } }

@media screen and (max-width: 480px) {
  .hideXXS {
    display: none; } }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 22px;
  line-height: 1.2;
  background-color: black;
  color: white; }

main {
  display: block;
  padding: 0;
  min-height: 100vh;
  text-align: center; }

header {
  display: none; }

nav {
  display: block; }

footer {
  display: none; }

section {
  display: block; }

h1 {
  font-family: "Integral", serif;
  font-size: 22vmin;
  font-weight: 700; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px; }

form {
  display: block; }
