html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe {
  vertical-align: bottom;
  max-width: 100%; }

input, textarea, select {
  font: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Integral';
  font-weight: 700;
  src: url("/assets/font/IntegralCF-Bold.woff"), url("/assets/font/IntegralCF-Bold.woff2"); }

section.intro {
  padding: 100px 100px; }
  @media screen and (max-width: 1024px) {
    section.intro {
      padding: 84px 84px; } }
  @media screen and (max-width: 800px) {
    section.intro {
      padding: 68px 68px; } }
  @media screen and (max-width: 640px) {
    section.intro {
      padding: 52px 52px; } }
  @media screen and (max-width: 480px) {
    section.intro {
      padding: 36px 36px; } }

main {
  width: 1600px;
  max-width: 1600px; }
  @media screen and (max-width: 1600px) {
    main {
      width: 100%; } }

main {
  margin-left: auto;
  margin-right: auto; }

@media screen and (max-width: 1600px) {
  .hideXL {
    display: none; } }

@media screen and (max-width: 1440px) {
  .hideLG {
    display: none; } }

@media screen and (max-width: 1024px) {
  .hideMD {
    display: none; } }

@media screen and (max-width: 800px) {
  .hideSM {
    display: none; } }

@media screen and (max-width: 640px) {
  .hideXS {
    display: none; } }

@media screen and (max-width: 480px) {
  .hideXXS {
    display: none; } }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 22px;
  line-height: 1.2;
  background-color: black;
  color: white; }

main {
  display: block;
  padding: 0;
  min-height: 100vh;
  text-align: center; }

header {
  display: none; }

nav {
  display: block; }

footer {
  display: none; }

section {
  display: block;
  height: 100vh;
  overflow: hidden; }
  section.intro {
    display: flex; }
    section.intro * {
      margin: auto; }

h1 {
  position: relative;
  z-index: 1;
  font-family: "Integral", serif;
  font-size: 20vmin;
  font-weight: 700;
  line-height: .5; }
  h1:before, h1:after {
    mix-blend-mode: lighten; }
  h1:before, h1:after {
    content: attr(data-name);
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%; }
  h1:before {
    left: -5%;
    color: #53B439;
    clip: rect(0, 1350px, 320px, 0);
    -webkit-animation-name: glitchRed;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: none;
    animation-name: glitchRed;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-fill-mode: none; }
  h1:after {
    left: 5%;
    color: #FF2A00;
    clip: rect(0, 1400px, 220px, 0);
    -webkit-animation-name: glitchBlue;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: none;
    animation-name: glitchBlue;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-fill-mode: none; }
  h1 span {
    position: relative;
    z-index: 1;
    color: white;
    clip: rect(0, 900px, 722px, 56px);
    -webkit-animation-name: glitchWhite;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: none;
    animation-name: glitchWhite;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-fill-mode: none; }

@keyframes glitchRed {
  0% {
    left: 0;
    clip-path: inset(0% 0 0% 0); }
  9% {
    left: 0;
    clip-path: inset(0% 0 0% 0); }
  10% {
    left: 4%;
    clip-path: inset(21% 0 5% 0); }
  19% {
    left: 4%;
    clip-path: inset(21% 0 5% 0); }
  20% {
    left: 0;
    clip-path: inset(72% 0 55% 0); }
  29% {
    left: 0;
    clip-path: inset(72% 0 55% 0); }
  30% {
    left: -3%;
    clip-path: inset(12% 0 -52% 0); }
  39% {
    left: -3%;
    clip-path: inset(12% 0 -52% 0); }
  40% {
    left: 0;
    clip-path: inset(-80% 0 12% 0); }
  49% {
    left: 0;
    clip-path: inset(-80% 0 12% 0); }
  50% {
    left: 5%;
    clip-path: inset(95% 0 32% 0); }
  59% {
    left: 5%;
    clip-path: inset(95% 0 32% 0); }
  60% {
    left: 0;
    clip-path: inset(4% 0 27% 0); }
  69% {
    left: 0;
    clip-path: inset(4% 0 27% 0); }
  70% {
    left: -3%;
    clip-path: inset(-64% 0 -77% 0); }
  79% {
    left: -3%;
    clip-path: inset(-64% 0 -77% 0); }
  80% {
    left: 0;
    clip-path: inset(75% 0 -4% 0); }
  89% {
    left: 0;
    clip-path: inset(75% 0 -4% 0); }
  90% {
    left: 3%;
    clip-path: inset(-33% 0 96% 0); }
  99% {
    left: 3%;
    clip-path: inset(-33% 0 96% 0); }
  100% {
    left: 0;
    clip-path: inset(0% 0 0% 0); } }

@-webkit-keyframes glitchRed {
  0% {
    left: 0;
    clip-path: inset(0% 0 0% 0); }
  9% {
    left: 0;
    clip-path: inset(0% 0 0% 0); }
  10% {
    left: 4%;
    clip-path: inset(21% 0 5% 0); }
  19% {
    left: 4%;
    clip-path: inset(21% 0 5% 0); }
  20% {
    left: 0;
    clip-path: inset(72% 0 55% 0); }
  29% {
    left: 0;
    clip-path: inset(72% 0 55% 0); }
  30% {
    left: -3%;
    clip-path: inset(12% 0 -52% 0); }
  39% {
    left: -3%;
    clip-path: inset(12% 0 -52% 0); }
  40% {
    left: 0;
    clip-path: inset(-80% 0 12% 0); }
  49% {
    left: 0;
    clip-path: inset(-80% 0 12% 0); }
  50% {
    left: 5%;
    clip-path: inset(95% 0 32% 0); }
  59% {
    left: 5%;
    clip-path: inset(95% 0 32% 0); }
  60% {
    left: 0;
    clip-path: inset(4% 0 27% 0); }
  69% {
    left: 0;
    clip-path: inset(4% 0 27% 0); }
  70% {
    left: -3%;
    clip-path: inset(-64% 0 -77% 0); }
  79% {
    left: -3%;
    clip-path: inset(-64% 0 -77% 0); }
  80% {
    left: 0;
    clip-path: inset(75% 0 -4% 0); }
  89% {
    left: 0;
    clip-path: inset(75% 0 -4% 0); }
  90% {
    left: 3%;
    clip-path: inset(-33% 0 96% 0); }
  99% {
    left: 3%;
    clip-path: inset(-33% 0 96% 0); }
  100% {
    left: 0;
    clip-path: inset(0% 0 0% 0); } }

@keyframes glitchBlue {
  0% {
    left: 0;
    clip-path: inset(0% 0 0% 0); }
  9% {
    left: 0;
    clip-path: inset(0% 0 0% 0); }
  10% {
    left: -4%;
    clip-path: inset(41% 0 -15% 0); }
  19% {
    left: -4%;
    clip-path: inset(41% 0 -15% 0); }
  20% {
    left: 0;
    clip-path: inset(-72% 0 75% 0); }
  29% {
    left: 0;
    clip-path: inset(-72% 0 75% 0); }
  30% {
    left: 7%;
    clip-path: inset(62% 0 4% 0); }
  39% {
    left: 7%;
    clip-path: inset(62% 0 4% 0); }
  40% {
    left: 0;
    clip-path: inset(80% 0 -12% 0); }
  49% {
    left: 0;
    clip-path: inset(80% 0 -12% 0); }
  50% {
    left: -2%;
    clip-path: inset(5% 0 55% 0); }
  59% {
    left: -2%;
    clip-path: inset(5% 0 55% 0); }
  60% {
    left: 0;
    clip-path: inset(-47% 0 36% 0); }
  69% {
    left: 0;
    clip-path: inset(-47% 0 36% 0); }
  70% {
    left: 5%;
    clip-path: inset(24% 0 -7% 0); }
  79% {
    left: 5%;
    clip-path: inset(24% 0 -7% 0); }
  80% {
    left: 0;
    clip-path: inset(-75% 0 4% 0); }
  89% {
    left: 0;
    clip-path: inset(-75% 0 4% 0); }
  90% {
    left: -4%;
    clip-path: inset(3% 0 -96% 0); }
  99% {
    left: -4%;
    clip-path: inset(3% 0 -96% 0); }
  100% {
    left: 0;
    clip-path: inset(0% 0 0% 0); } }

@-webkit-keyframes glitchBlue {
  0% {
    left: 0;
    clip-path: inset(0% 0 0% 0); }
  9% {
    left: 0;
    clip-path: inset(0% 0 0% 0); }
  10% {
    left: -4%;
    clip-path: inset(41% 0 -15% 0); }
  19% {
    left: -4%;
    clip-path: inset(41% 0 -15% 0); }
  20% {
    left: 0;
    clip-path: inset(-72% 0 75% 0); }
  29% {
    left: 0;
    clip-path: inset(-72% 0 75% 0); }
  30% {
    left: 7%;
    clip-path: inset(62% 0 4% 0); }
  39% {
    left: 7%;
    clip-path: inset(62% 0 4% 0); }
  40% {
    left: 0;
    clip-path: inset(80% 0 -12% 0); }
  49% {
    left: 0;
    clip-path: inset(80% 0 -12% 0); }
  50% {
    left: -2%;
    clip-path: inset(5% 0 55% 0); }
  59% {
    left: -2%;
    clip-path: inset(5% 0 55% 0); }
  60% {
    left: 0;
    clip-path: inset(-47% 0 36% 0); }
  69% {
    left: 0;
    clip-path: inset(-47% 0 36% 0); }
  70% {
    left: 5%;
    clip-path: inset(24% 0 -7% 0); }
  79% {
    left: 5%;
    clip-path: inset(24% 0 -7% 0); }
  80% {
    left: 0;
    clip-path: inset(-75% 0 4% 0); }
  89% {
    left: 0;
    clip-path: inset(-75% 0 4% 0); }
  90% {
    left: -4%;
    clip-path: inset(3% 0 -96% 0); }
  99% {
    left: -4%;
    clip-path: inset(3% 0 -96% 0); }
  100% {
    left: 0;
    clip-path: inset(0% 0 0% 0); } }

@keyframes glitchWhite {
  0% {
    clip-path: inset(0% 0 0% 0); }
  9% {
    clip-path: inset(0% 0 0% 0); }
  10% {
    clip-path: inset(41% 0 -15% 0); }
  19% {
    clip-path: inset(41% 0 -15% 0); }
  20% {
    clip-path: inset(-72% 0 75% 0); }
  29% {
    clip-path: inset(-72% 0 75% 0); }
  30% {
    clip-path: inset(62% 0 4% 0); }
  39% {
    clip-path: inset(62% 0 4% 0); }
  40% {
    clip-path: inset(80% 0 -12% 0); }
  49% {
    clip-path: inset(80% 0 -12% 0); }
  50% {
    clip-path: inset(5% 0 55% 0); }
  59% {
    clip-path: inset(5% 0 55% 0); }
  60% {
    clip-path: inset(-47% 0 36% 0); }
  69% {
    clip-path: inset(-47% 0 36% 0); }
  70% {
    clip-path: inset(24% 0 -7% 0); }
  79% {
    clip-path: inset(24% 0 -7% 0); }
  80% {
    clip-path: inset(-75% 0 4% 0); }
  89% {
    clip-path: inset(-75% 0 4% 0); }
  90% {
    clip-path: inset(3% 0 -96% 0); }
  99% {
    clip-path: inset(3% 0 -96% 0); }
  100% {
    clip-path: inset(98% 0 -50% 0); } }

@-webkit-keyframes glitchWhite {
  0% {
    clip-path: inset(0% 0 0% 0); }
  9% {
    clip-path: inset(0% 0 0% 0); }
  10% {
    clip-path: inset(41% 0 -15% 0); }
  19% {
    clip-path: inset(41% 0 -15% 0); }
  20% {
    clip-path: inset(-72% 0 75% 0); }
  29% {
    clip-path: inset(-72% 0 75% 0); }
  30% {
    clip-path: inset(62% 0 4% 0); }
  39% {
    clip-path: inset(62% 0 4% 0); }
  40% {
    clip-path: inset(80% 0 -12% 0); }
  49% {
    clip-path: inset(80% 0 -12% 0); }
  50% {
    clip-path: inset(5% 0 55% 0); }
  59% {
    clip-path: inset(5% 0 55% 0); }
  60% {
    clip-path: inset(-47% 0 36% 0); }
  69% {
    clip-path: inset(-47% 0 36% 0); }
  70% {
    clip-path: inset(24% 0 -7% 0); }
  79% {
    clip-path: inset(24% 0 -7% 0); }
  80% {
    clip-path: inset(-75% 0 4% 0); }
  89% {
    clip-path: inset(-75% 0 4% 0); }
  90% {
    clip-path: inset(3% 0 -96% 0); }
  99% {
    clip-path: inset(3% 0 -96% 0); }
  100% {
    clip-path: inset(98% 0 -50% 0); } }

form {
  display: block; }
