// Section

section

    display: block

    height: 100vh

    overflow: hidden

    // Classes

    &.intro

        display: flex

        @extend %padding

        // Children

        *

            margin: auto