// Fonts

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap')

@font-face

    font-family: 'Chaney'
    font-weight: normal
    src: url($fontPath + 'chaney.woff'), url($fontPath + 'chaney.woff2')

@font-face

    font-family: 'ChaneyWide'
    font-weight: normal
    src: url($fontPath + 'chaneywide.woff'), url($fontPath + 'chaneywide.woff2')

@font-face

    font-family: 'ChaneyExtended'
    font-weight: normal
    src: url($fontPath + 'chaneyextended.woff'), url($fontPath + 'chaneyextended.woff2')

@font-face

    font-family: 'ChaneyUltra'
    font-weight: normal
    src: url($fontPath + 'chaneyultraextended.woff'), url($fontPath + 'chaneyultraextended.woff2')