// Variables

// Colours

$c1:                        #FF0032
$c2:                        #FFB600
$c3:                        black
$c4:                        white

$primary:                   $c1
$secondary:                 $c2
$dark:                      $c3
$light:                     $c4

$text:                      $light
$link:                      $primary
$bg:                        $dark
$highlight:                 $secondary

$palette:                   (Primary $primary, Secondary $secondary, Dark $dark, Light $light)

// Fonts

$fontHead:                  ('Chaney','ChaneyWide','ChaneyExtended','ChaneyUltra')
$fontText:                  'IBM Plex Mono', monospace

$h1:                        20vmin
$h2:                        30px
$h3:                        60px

// Sizes

$base:                      40px
$globalSpace:               50px
$headerHeight:              50px
$footerHeight:              50px

$xl:                        1600px
$lg:                        1440px
$md:                        1024px
$sm:                        800px
$xs:                        640px
$xxs:                       480px

$maxWidth:                  $xl

$padding:                   ($md, $sm, $xs, $xxs)
$hide:                      (XL $xl, LG $lg, MD $md, SM $sm, XS $xs, XXS $xxs)

// Paths

$imgPath:                   '/assets/img/'
$fontPath:                  '/assets/font/'