// Layout

main

    display: block

    padding: 0

    min-height: 100vh

    text-align: center

    @extend %maxWidth
    @extend %center

@import 'layout/header', 'layout/nav', 'layout/footer', 'layout/section'