// Typography

h1

    position: relative
    z-index: 1

    font-family: $fontHead
    font-size: $h1
    font-weight: 700
    line-height: .5

    // Pseudo

    &:before, &:after

        content: attr(data-name)

        position: absolute
        z-index: 2

        top: 0

        width: 100%
        height: 100%

        mix-blend-mode: color-dodge

    &:before

        left: -66px

        color: $primary

        clip: rect(0, 1350px, 320px, 0)

        +animation(glitchRed, 2s, linear, infinite)

    &:after

        left: 50px

        color: $secondary

        clip: rect(0, 1400px, 620px, 0)

        +animation(glitchBlue, 2s, linear, infinite)

    // Children

    span

        position: relative
        z-index: 1

        color: white

        clip: rect(0, 900px, 722px, 56px)

        +animation(glitchWhite, 3s, linear, infinite)