<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Template</title>
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <link rel="image_src" href="">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@noureddinemade" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />

    <link rel="stylesheet" href="/assets/css/main.css">

</head>
<body>

    <main>

        {% include header.html %}

        {{ content }}

        {% include footer.html %}

    </main>

    <script src="/assets/js/main.js"></script>

</body>
</html>